@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
    height: auto;
 }

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  cursor: url(../images/cursor.png), auto;
  color: $primary-text-color;
  font-family: 'Montserrat', sans-serif;
  @include font(400, 16px, 28px);
  letter-spacing: 0.04em;
  background-color: $secondary-text-color;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    background-color: $bc-white;
  }
}
