@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  cursor: url(../images/cursor.png) 24 18, auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.customer-reviews {
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 320px) {
  .customer-reviews {
    padding-top: 80px;
    padding-bottom: 394px;
    background-image: url("../images/customer-reviews/reviews-bg-mobile-1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url("../images/customer-reviews/reviews-bg-mobile-2x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 384px;
    background-image: url("../images/customer-reviews/reviews-bg-tablet-1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url("../images/customer-reviews/reviews-bg-tablet-2x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customer-reviews {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-desktop-1x.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url("../images/customer-reviews/reviews-bg-desktop-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-1920px-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .customer-reviews {
    background-image: url("../images/customer-reviews/reviews-bg-1920px-2x.png");
  }
}

.customer-reviews__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .customer-reviews__item {
    max-width: 305px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customer-reviews__item {
    max-width: 705px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__item {
    max-width: 968px;
  }
}

.customer-reviews__img {
  max-width: 85px;
  border-radius: 50%;
}

.customer-reviews__text {
  text-align: center;
  color: #fcfcfc;
  background-color: #84a178;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .customer-reviews__text {
    font-weight: 400;
    font-size: 13;
    line-height: 0.4193548387;
    max-width: 280px;
    padding: 34px 39px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customer-reviews__text {
    font-weight: 400;
    font-size: 14;
    line-height: 0.5384615385;
    letter-spacing: 0.04em;
    max-width: 705px;
    padding: 28px 80px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__text {
    font-weight: 400;
    font-size: 17;
    line-height: 0.5666666667;
    letter-spacing: 0.04em;
    max-width: 968px;
    padding: 39px 74px;
  }
}

.customer-reviews__text-item {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: capitalize;
  color: #131313;
}
@media screen and (max-width: 768px) {
  .customer-reviews__text-item {
    font-weight: 500;
    font-size: 20;
    line-height: 0.5405405405;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews__text-item {
    font-weight: 500;
    font-size: 16;
    line-height: 0.5333333333;
  }
}

/* // Slider */
.customer-reviews__slider {
  display: flex;
  justify-content: center;
  gap: 18px;
}
@media screen and (max-width: 768px) {
  .customer-reviews__slider {
    margin-top: 14px;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews__slider {
    margin-top: 32px;
  }
}

.customer-reviews__slider-item {
  cursor: pointer;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-reviews__slider-item:hover, .customer-reviews__slider-item:focus {
  background-color: #84a178;
}

.footer {
  background-color: #84a178;
}
.footer__text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 0.8181818182;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 34px;
  line-height: 0.8292682927;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 42px;
}

.footer-list {
  justify-content: flex-end;
  margin-bottom: 38px;
  display: flex;
}
.footer-list__item:not(:last-child) {
  margin-right: 28px;
}
.footer-list__icon {
  width: 32px;
  height: 32px;
  fill: #84a178;
  align-items: center;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 0.5454545455;
}
.footer-contact__text {
  color: #131313;
  margin-right: 2px;
}
.footer-contact__tel {
  color: #fcfcfc;
  text-decoration: none;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 10;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 280px;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.modal__how-its-made {
  padding: 32px 60px;
  width: 568px;
  height: 449px;
  background: var(#fcfcfc);
  border: 2px solid var(#f8d24e);
  border-radius: 10px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
  fill: #131313;
  background-color: transparent;
  transition: fill 250ms ease-out;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #f8d24e;
}
@media screen and (min-width: 768px) {
  .modal__close-button {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=index.css.map */