@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/common';
@import './base/container';

@import './layout/hero-header';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-reviews';
@import './layout/contacts';
@import './layout/footer';

@import './components/backdrop';
@import './components/modal-how-its-made';
@import './components/modal-buy-now';
@import './components/modal-close-button';
@import './components/modal';
@import './components/button';