//* COLORS
$primary-text-color: #131313;
// $secondary-text-color: #ababab;
$secondary-text-color: #fcfcfc;
$bg-color: #84a178;
$primary-yellow: #f8d24e;
$secondary-yellow: #efd478;
$accent-line-color: #7a7a7a;

$brown: #d6936d;
$olive: #aec6a5;

//* BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$bc-white: #ffffff;
$button-hover-focus-color: #0a8817;

$bg-color-gray: #f5f5f5;
