<section class="advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list container">
        <li class="advantages__item">
            <p class="advantages__walue">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__walue">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantage__walue">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>