<div class="backdrop is-hidden" data-modal>
  <div class="chocolate-modal">
    <button type="button" class="modal__close-button" data-modal-close>
      <svg>
        <use href="./images/icons.svg#cross-close"></use>
      </svg>
    </button>
    <h4 class="chocolate-modal__title">Chocolate icecream</h4>
    <ul class="chocolate-modal__nutriens-list">
      <li class="chocolate-modal__nutriens-item">
        <p class="chocolate-modal__nutriens-amount">320</p>
        <p class="chocolate-modal__nutriens-name">kcal</p>
      </li>
      <li class="chocolate-modal__nutriens-item">
        <p class="chocolate-modal__nutriens-amount">4g</p>
        <p class="chocolate-modal__nutriens-name">Protein...</p>
      </li>
      <li class="chocolate-modal__nutriens-item">
        <p class="chocolate-modal__nutriens-amount">8,2g</p>
        <p class="chocolate-modal__nutriens-name">Fats</p>
      </li>
      <li class="chocolate-modal__nutriens-item">
        <p class="chocolate-modal__nutriens-amount">40,4g</p>
        <p class="chocolate-modal__nutriens-name">Carbs</p>
      </li>
    </ul>
    <ul class="chocolate-modal__ingredients-list">
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Milk</p>
        <p class="chocolate-modal__ingredients-amount">100ml</p>
      </li>
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Belgian chocolate</p>
        <p class="chocolate-modal__ingredients-amount">20g</p>
      </li>
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Cream</p>
        <p class="chocolate-modal__ingredients-amount">150 ml</p>
      </li>
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Cocoa powder</p>
        <p class="chocolate-modal__ingredients-amount">30g</p>
      </li>
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Sugar</p>
        <p class="chocolate-modal__ingredients-amount">40g</p>
      </li>
      <li class="chocolate-modal__ingredients-item">
        <p class="chocolate-modal__ingredients-name">Vanilla sugar</p>
        <p class="chocolate-modal__ingredients-amount">10g</p>
      </li>
    </ul>
    <form class="modal-form">
      <ul class="modal-form__list">
        <li class="modal-form__item">
          <label class="modal-form__label"
            ><input
              type="text"
              name="name"
              class="modal-form__input"
              placeholder="Name"
              required
          /></label>
        </li>
        <li class="modal-form__item">
          <label class="modal-form__label"
            ><input
              type="tel"
              name="phone-number"
              class="modal-form__input"
              placeholder="Phone"
              required
          /></label>
        </li>
        <li class="modal-form__item">
          <label class="modal-form__label">
            <textarea
              name="comment"
              class="modal-form__input"
              placeholder="Comment"
            ></textarea>
          </label>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
