<section class="contacts">
  <div>
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__text">CAFE</p>
        <address class="contacts__adress">
          <ul class="contacts__town">
            <li>Chicago</li>
            <li>
              <a
                >10340 Ridgeland Ave, Chicago <br />
                Ridge, IL 60415, USA</a
              >
            </li>
          </ul>
        </address>
        <ul class="contacts__time">
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__social">
          <li>
            <a href="tel:+610383766284" class="link social"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text">FOOD TRUCK</p>
        <address class="contacts__adress">
          <ul>
            <li>Los Angeles</li>
            <li>
              <a
                >1003 Manhattan Ave, Manhattan <br />
                Beach, CA 90263, USA</a
              >
            </li>
          </ul>
        </address>
        <ul class="contacts__time">
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__social">
          <li>
            <a href="tel:+610383766284" class="link social"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text">CAFE</p>
        <address class="contacts__adress">
          <ul>
            <li>New York</li>
            <li>
              <a
                >726 Sterling Pl, Brooklyn, NY <br />
                11222, USA</a
              >
            </li>
          </ul>
        </address>
        <ul class="contacts__time">
          <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__social">
          <li>
            <a href="tel:+610383766284" class="link social"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        <button
          type="button"
          class="button button-locations"
          data-modal-locations-open
        >
          Our Locations
        </button>
      </li>
      <li>
        <button
          type="button"
          class="button button-franchise"
          data-modal-franchise-open
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
