<section class="customer-reviews">

  <div class="swiper">
    <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>
    <ul class="swiper-wrapper ">
      <li class="swiper-slide customer-reviews__item">
        <picture>
          <source srcset=".\images\customer-reviews\reviews-1-1x.jpg 1x, .\images\customer-reviews\reviews-1-2x.jpg 2x"
            media="(min-width:1200px)">
          <source srcset=".\images\customer-reviews\reviews-1-1x.jpg 1x, .\images\customer-reviews\reviews-1-2x.jpg 2x"
            media="(min-width:768px)">
          <source srcset=".\images\customer-reviews\reviews-1-1x.jpg 1x, .\images\customer-reviews\reviews-1-2x.jpg 2x"
            media="(max-width:767px)">
          <img class="customer-reviews__img" src=".\images\customer-reviews\reviews-1-1x.jpg" alt="women" />
        </picture>
        <p class="customer-reviews__text">I love visiting your cafe. You prepare the most delicious ice cream in Los
          Angeles! In addition, you have beautiful
          serving, cozy atmosphere and polite staff.</p>
        <p class="customer-reviews__text-item">Emily, los angeles</p>
      </li>
      <li class="swiper-slide customer-reviews__item">
        <picture>
          <source srcset=".\images\customer-reviews\reviews-3-1x.jpg 1x, .\images\customer-reviews\reviews-3-2x.jpg 2x"
            media="(min-width:1200px)">
          <source srcset=".\images\customer-reviews\reviews-3-1x.jpg 1x, .\images\customer-reviews\reviews-3-2x.jpg 2x"
            media="(min-width:768px)">
          <source srcset=".\images\customer-reviews\reviews-3-1x.jpg 1x, .\images\customer-reviews\reviews-3-2x.jpg 2x"
            media="(max-width:767px)">
          <img class="customer-reviews__img" src=".\images\customer-reviews\reviews-3-1x.jpg"
            alt="man in cap with icecream" />
        </picture>
        <p class="customer-reviews__text">I love eating popsicles on a hot day. Yours is always delicious. I recommend
          your cafe to everyone I know.
        </p>
        <p class="customer-reviews__text-item">Sam, los angeles</p>
      </li>
      <li class="swiper-slide customer-reviews__item">
        <picture>
          <source srcset=".\images\customer-reviews\reviews-2-1x.jpg 1x, .\images\customer-reviews\reviews-2-2x.jpg 2x"
            media="(min-width:1200px)">
          <source srcset=".\images\customer-reviews\reviews-2-1x.jpg 1x, .\images\customer-reviews\reviews-2-2x.jpg 2x"
            media="(min-width:768px)">
          <source srcset=".\images\customer-reviews\reviews-2-1x.jpg 1x, .\images\customer-reviews\reviews-2-2x.jpg 2x"
            media="(max-width:767px)">
          <img class="customer-reviews__img" src=".\images\customer-reviews\reviews-2-1x.jpg"
            alt="black man eat icecream" />
        </picture>
        <p class="customer-reviews__text">Every day we come to you with friends after classes in college. We love your
          ice cream and casual atmosphere!
        </p>
        <p class="customer-reviews__text-item">Bryan, New-York</p>
      </li>
      <!-- <li class="swiper-slide customer-reviews__item">
        <picture>
          <source srcset=".\images\customer-reviews\reviews-4-1x.jpg 1x, .\images\customer-reviews\reviews-4-2x.jpg 2x"
            media="(min-width:1200px)">
          <source srcset=".\images\customer-reviews\reviews-4-1x.jpg 1x, .\images\customer-reviews\reviews-4-2x.jpg 2x"
            media="(min-width:768px)">
          <source srcset=".\images\customer-reviews\reviews-4-1x.jpg 1x, .\images\customer-reviews\reviews-4-2x.jpg 2x"
            media="(max-width:767px)">
          <img class="customer-reviews__img" src=".\images\customer-reviews\reviews-4-1x.jpg"
            alt="women with icecream" />
        </picture>
        <p class="customer-reviews__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
          really like the excellent service - always
          served politely and quickly!
        </p>
        <p class="customer-reviews__text-item">Diana, Chicago</p>
      </li> -->
    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-pagination"></div> -->

  </div>
</section>