<header class="hero-header container">
  <picture class="hero-header__logo">
    <source
      srcset="./images/hero-header/mobile/logo-1x.png x1",
      srcset="./images/hero-header/mobile/logo-2x.png x2"
      media="(max-width:767px)"
    />
    <source
    srcset="./images/hero-header/tablet/logo-tablet-1x.png x1",
    srcset="./images/hero-header/tablet/logo-tablet-2x.png x2"
    media="(min-width:768px)"
  />
  <source
  srcset="./images/hero-header/desktop/logo-desktop-1x.png x1",
  srcset="./images/hero-header/desktop/logo-desktop-1x.png x2"
  media="(min-width:1200px)"
/>
<img src="./images/hero-header/mobile/logo-1x.png"
 alt="logo">
  </picture>
  <button type="button" class="hero-header__menu-button">

  </button>
  <button class="hero-header__btn">Buy now</button>
  <h1 class="hero-header__title">
    ice cream made with <span class="hero-header__span">passion</span>
  </h1>
  <ul class="hero-header__list">
    <li class="hero-header__item">
      <a href="" class="hero-header__link">Products</a>
    </li>
    <li>
      <a href="">How it’s made?</a>
    </li>
  </ul>
  <picture class="hero-header__hero">
    <source
      srcset="./images/hero-header/mobile/ice-cream-1x.png x1",
      srcset="./images/hero-header/mobile/ice-cream-2x.png x2"
      media="(max-width:767px)"
    />
    <source
    srcset="./images/hero-header/tablet/ice-cream-tablet-1x.png x1",
    srcset="./images/hero-header/tablet/ice-cream-tablet-2x.png x2"
    media="(min-width:768px)"
  />
  <source
  srcset="./images/hero-header/desktop/ice-cream-desktop-1x.png x1",
  srcset="./images/hero-header/desktop/ice-cream-desktop-1x.png x2"
  media="(min-width:1200px)"
/>
<img src="./images/hero-header/mobile/ice-cream-1x.png"
 alt="ice-cream">
  </picture>

  <ul class="hero-header__list-advertising">
    <li class="hero-header__item-advertising">
      <p class="hero-header__numbers">
        16
      </p>
      <p class="hero-header__scrool">
        cafes
      </p>
    </li>
    <li>
      <p class="hero-header__numbers">
        23
      </p>
      <p>
        food trucks 
      </p>
    </li>
  </ul>

  <picture class="hero-header__points-left-mob">
    <source
      srcset="./images/hero-header/mobile/points-left-1x.png x1",
      srcset="./images/hero-header/mobile/points-left-2x.png x2"
      media="(max-width:767px)"
    />
<img src="./images/hero-header/mobile/points-left-1x.png"
 alt="points-left">
  </picture>

   <picture class="hero-header__points-left-tab">
    <source
    srcset="./images/hero-header/tablet/points-left-tablet-1x.png x1",
    srcset="./images/hero-header/tablet/points-left-tablet-2x.png x2"
    media="(min-width:768px)"
  />
<img src="./images/hero-header/tablet/points-left-tablet-1x.png"
 alt="points-left">
  </picture>

  <picture class="hero-header__points-raight-mob">
    <source
      srcset="./images/hero-header/mobile/points-raight-1x.png x1",
      srcset="./images/hero-header/mobile/points-raight-2x.png x2"
      media="(max-width:767px)"
    />
<img src="./images/hero-header/mobile/points-raight-1x.png"
 alt="points-raight">
  </picture>

  <picture class="hero-header__points-raight-tab">
    <source
    srcset="./images/hero-header/tablet/points-raight-tablet-1x.png x1",
    srcset="./images/hero-header/tablet/points-raight-tablet-2x.png x2"
    media="(min-width:768px)"
  />
<img src="./images/hero-header/tablet/points-raight-tablet-1x.png"
 alt="points-raight">
  </picture>

  <picture class="hero-header__points-desk">
    <source
    srcset="./images/hero-header/desktop/points-desktop-1x.png x1",
    srcset="./images/hero-header/desktop/points-desktop-2x.png x2"
    media="(min-width:1200px)"
  />
<img src="./images/hero-header/desktop/points-desktop-1x.png"
 alt="points-raight">
  </picture>

  <picture class="hero-header__pict">
    <source
      srcset="./images/hero-header/tablet/many-ic-tablet-1x.png x1",
      srcset="./images/hero-header/tablet/many-ic-tablet-2x.png x2"
      media="(max-width:767px)"
    />
    <source
    srcset="./images/hero-header/desktop/many-ic-desktop-1x.png x1",
    srcset="./images/hero-header/desktop/many-ic-desktop-2x.png x2"
    media="(min-width:768px)"
  />
<img src="./images/hero-header/tablet/many-ic-tablet-1x.png"
 alt="points-raight">
  </picture>

<p class="hero-header__pretitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
<svg class="" width="40 " height="40">
  <use href="./images/icons.svg#arrow-defat"></use>
</svg>
</header>

