<div class="backdrop is-hidden" data-modal-buy-now>
  <div class="modal">
    <button type="button" class="modal__close-button" data-modal-close-buy-now>
      <svg>
        <use href="./images/icons.svg#cross-close"></use>
      </svg>
    </button>
    <form>
      <p class="modal__title">Buy now</p>
      <div class="modal-image">
        <ul class="modal-cards">
          <li class="modal-cards__item">
            <input
              id="icecream-check"
              type="checkbox"
              name="cocktail-check"
              class="modal-form-check_icecream visually-hidden"
            />
            <label for="icecream-check" class="modal-cards__link icecream-link">
              <picture class="modal-cards__picture icecream-image">
                <source
                  srcset="./images/modal-buy-now/tablet/icecream-tabdesk-x1-min.png x1,
                ./images/modal-buy-now/tablet/icecream-tabdesk-x2-min.png x2"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/modal-buy-now/mobile/icecream-mobile-x1-min.png x1,
                ./images/modal-buy-now/mobile/icecream-mobile-x2-min.png x2
                "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/modal-buy-now/mobile/icecream-mobile-x1-min.png"
                  alt="Ice cream"
                />
              </picture>
              <p class="modal-cards__title">ice cream</p>
            </label>
          </li>
          <li class="modal-cards__item">
            <input
              id="icecoffee-check"
              type="checkbox"
              name="cocktail-check"
              class="modal-form-check_icecoffee visually-hidden"
            />
            <label
              for="icecoffee-check"
              class="modal-cards__link icecoffee-link"
            >
              <picture class="modal-cards__picture icecoffee-image">
                <source
                  srcset="./images/modal-buy-now/tablet/icecoffee-tabdesk-x1-min.png x1,
                ./images/modal-buy-now/tablet/icecoffee-tabdesk-x2-min.png x2"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/modal-buy-now/mobile/icecoffee-mobile-x1-min.png x1,
                ./images/modal-buy-now/mobile/icecoffee-mobile-x2-min.png x2
                "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/modal-buy-now/mobile/icecoffee-mobile-x1-min.png"
                  alt="Ice coffee"
                />
              </picture>
              <p class="modal-cards__title">ice coffee</p>
            </label>
          </li>
          <li class="modal-cards__item">
            <input
              id="milkshake-check"
              type="checkbox"
              name="cocktail-check"
              class="modal-form-check_milkshake visually-hidden"
            />
            <label
              for="milkshake-check"
              class="modal-cards__link milkshake-link"
            >
              <picture class="modal-cards__picture milkshake-image">
                <source
                  srcset="./images/modal-buy-now/tablet/milkshake-tabdesk-x1-min.png x1,
                ./images/modal-buy-now/tablet/milkshake-tabdesk-x2-min.png x2"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/modal-buy-now/mobile/milkshake-mobile-x1-min.png x1,
                            ./images/modal-buy-now/mobile/milkshake-mobile-x2-min.png x2
                "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/modal-buy-now/mobile/milkshake-mobile-x1-min.png"
                  alt="Milkshake"
                />
              </picture>
              <p class="modal-cards__title">milkshake</p>
            </label>
          </li>
        </ul>
      </div>
      <div class="modal-form-input-gread">
        <label class="modal-form-coctail-label">
          <span class="modal-form-coctail-input-wrapper">
            <input
              type="text"
              name="user_name"
              class="modal-form-coctail-inpt"
              pattern="^[a-zA-zа-яА-я]+$"
              minlength="2"
              placeholder="Name"
              required
            />
          </span>
        </label>
        <label class="modal-form-coctail-label">
          <span class="modal-form-coctail-input-wrapper">
            <input
              type="tel"
              name="user_phone"
              class="modal-form-coctail-inpt"
              pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
              title="xxxxxxxxxx"
              placeholder="Phone"
              required
            />
          </span>
        </label>
        <label class="modal-form-coctail-label">
          <span class="modal-form-coctail-input-wrapper">
            <textarea
              name="user_massage"
              cols="30"
              rows="3"
              class="modal-form-coctail-inpt massage"
              placeholder="Comment"
            ></textarea>
          </span>
        </label>
      </div>
      <div class="modal-button-form-wrapper">
        <button class="btn-bg__buy-now btn-bg__submit" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
