<div id="modal-how-its-made" class="backdrop is-hidden js-how-its-made-menu-container">
  <div class="modal__how-its-made">
    <button
      type="button"
      class="modal__close-button js-how-its-made-close-menu">
      <svg>
        <use href="./images/icons.svg#cross-close"></use>
      </svg>
    </button>
    <p class="modal__title">How it’s made?</p>
    <iframe class="modal__video"
      src="https://youtube.com/shorts/tmraRz0iEuU?feature=share"
      width="448"
      height="205"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <p class="modal__report">The factory receives raw materials: whole milk, butter, vanilla, sugar, cocoa. Before getting caught to the production shop, future ingredients undergo a thorough inspection check. Then all the ingredients are mixed in a mixer and filtered.</p>
  </div>
</div>