<div class="backdrop is-hidden">
    <div class="modal">
      <button
        type="button"
        class="modal__close-button"
        data-modal-locations-close>
        <svg>
          <use href="./images/icons.svg#cross-close"></use>
        </svg>
      </button>
      <p class="modal__title">How it’s made?</p>
      <iframe
        src="https://youtube.com/shorts/tmraRz0iEuU?feature=share"
        width="448"
        height="205"
        frameborder="0">
      </iframe>
      <p>The factory receives raw materials: whole milk, butter, vanilla, sugar, cocoa. Before getting caught to the production shop, future ingredients undergo a thorough inspection check. Then all the ingredients are mixed in a mixer and filtered.</p>
    </div>
</div>