<section class="products-section">
  <div class="products__container container">
    <p class="products__over-title">100% natural</p>
    <h2 class="products__title">Products</h2>

    <ul class="products__menu">
      <li class="products__item products__item-olive">
        <span class="products__circle products__green-circle"></span>
        <h3 class="products__subtitle">Ice cream</h3>
        <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
        <button type="button" class="products__modal-open-btn" data-modal-chocolate-open>
          <svg class="products__modal-open-btn__icon" width="40">
            <use href="/src/images/icons.svg#arrow-defat"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item-yellow">
        <span class="products__circle products__yellow-circle"></span>
        <h3 class="products__subtitle">Ice coffee</h3>
        <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
        <button type="button" class="products__modal-open-btn" data-modal-chocolate-open>
          <svg class="products__modal-open-btn__icon" width="40">
            <use href="/src/images/icons.svg#arrow-defat"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item-brown">
        <span class="products__circle products__brown-circle"></span>
        <h3 class="products__subtitle">Milkshakes</h3>
        <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
        <button type="button" class="products__modal-open-btn" data-modal-chocolate-open>
          <svg class="products__modal-open-btn__icon" width="40">
            <use href="/src/images/icons.svg#arrow-defat"></use>
          </svg>
        </button>
      </li>
    
    </ul>
  </div>
</section>
