.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: $secondary-text-color;
  border: 2px solid $primary-yellow;
  border-radius: 10px;
  transition: transform 250ms ease-out;
  @media screen and (max-width: 319px) {
    width: calc(100% - 40px);
    height: auto;
  }
  @media screen and (max-width: 767px) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    padding-right: 28px;
    width: 280px;
  }
  @media screen and (min-width: $tablet) {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
    width: 568px;
  }
}
.modal--chocolate {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: $tablet) {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 995px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal--locations {
  @media screen and (min-width: $tablet) {
    min-height: 458px;
  }
}
.modal--franchise {
  @media screen and (min-width: $tablet) {
    min-height: 668px;
  }
}
.modal--how-its-made {
  @media screen and (min-width: $tablet) {
    min-height: 449px;
  }
}
.modal--buy-now {
  @media screen and (min-width: $tablet) {
    min-height: 664px;
  }
}
.modal__title {
  font-family: 'Seymour One', sans-serif;
  text-align: center;
  @include font(400, 20px, 28px);
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.modal__title--chocolate {
  @media screen and (max-width: 767px) {
    margin-bottom: 22px;
    max-width: 142px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}
.modal__title--franchise {
  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }
}
.modal__title--buy-now {
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}
