.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modal-form__list {
  width: 100%;
}
.modal-form__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.modal-form__label {
  display: block;
  text-align: center;
}

.modal-form__input {
  width: 100%;
  height: 42px;
  padding-left: 11px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  transition: border 250ms ease-out;
  &:focus {
    border: 2px solid $primary-yellow;
    outline: none;
  }
  &::placeholder {
    @include font(400, 14px, 20px);
    color: $primary-text-color;
  }
  @media screen and (min-width: $tablet) {
    width: 368px;
    padding-left: 16px;
  }
}
.modal-form__textarea {
  height: 84px;
  resize: none;
  padding: 11px;
  @media screen and (min-width: $tablet) {
    width: 368px;
    padding-left: 16px;
  }
}
