.modal__button {
  @include flexCenter();
  min-width: 114px;
  min-height: 42px;
  margin-top: 24px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $primary-yellow;
  border-radius: 10px;
  border: none;
  color: $primary-text-color;
  font-family: inherit;
  @include font(600, 12px, 15px);
  cursor: pointer;
  transition: background-color 250ms ease-out, color 250ms ease-out;
  &:hover {
    background-color: $button-hover-focus-color;
    color: #000000;
  }
  &:focus {
    background-color: $button-hover-focus-color;
    color: $secondary-text-color;
  }
  @media screen and (min-width: $tablet) {
    min-width: 141px;
    margin-top: 32px;
    @include font(600, 14px, 17px);
  }
}
.modal__button--chocolate {
  margin-top: 32px;
}
