.about {
  padding-top: 60px;
  padding-bottom: 42px;
  background-color: $bg-color;

  @media screen and (min-width: $tablet) {
    padding-bottom: 74px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 89px;
  }

  &__lable {
    font-family: 'Montserrat', sans-serif;
    @include font(700, 18, 22);
    text-align: center;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      @include font(800, 22, 27);
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: $desktop) {
      @include font(800, 30, 37);
    }
  }

  &__title {
    font-family: 'Seymour One', sans-serif;
    @include font(400, 30, 38);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 32px;
    width: 200px;

    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
    @media screen and (min-width: $tablet) {
      @include font(400, 34, 43);
      letter-spacing: 0.06em;
      margin-bottom: 72px;
      width: auto;
    }
    @media screen and (min-width: $desktop) {
      @include font(400, 36, 45);
      margin-bottom: 82px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__images {
    position: relative;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140.182px;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      width: 279px;
      height: 300px;
    }
    @media screen and (min-width: $tablet) {
      box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
      border-radius: 165.879px;
      width: 336px;
      height: 356px;
      margin-bottom: 0;
      margin-right: 33px;
    }
    @media screen and (min-width: $desktop) {
      box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
      border-radius: 250px;
      width: 500px;
      height: 500px;
      margin-right: 100px;
    }
  }
  &__card {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(9%);
    width: 100%;
    height: 100%;
    border-radius: 1038.58px;
    @media screen and (min-width: $mobile) {
      width: 278px;
      height: 278px;
    }
    @media screen and (min-width: $tablet) {
      width: 335px;
      height: 330px;
      border-radius: 1228.96px;
      transform: translateY(8%);
    }
    @media screen and (min-width: $desktop) {
      width: 490px;
      height: 490px;
      border-radius: 1852.2px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
    @media screen and (min-width: $tablet) {
      width: 334px;
    }
    @media screen and (min-width: $desktop) {
      width: 490px;
    }
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    @include font(400, 12, 19);
    letter-spacing: 0.04em;
    color: $secondary-text-color;
    margin-bottom: 4px;
    @media screen and (min-width: $mobile) {
      @include font(400, 12, 21);
      margin-bottom: 8px;
    }
    @media screen and (min-width: $desktop) {
      @include font(400, 16, 28);
    }
  }
  &__text-info {
    font-family: 'Montserrat', sans-serif;
    @include font(400, 12, 19);
    color: $secondary-text-color;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      @include font(400, 12, 21);
      letter-spacing: 0.04em;
      margin-bottom: 8px;
    }
    @media screen and (min-width: $desktop) {
      @include font(400, 14, 27);
    }
  }
  &__text-data {
    font-family: 'Montserrat', sans-serif;
    @include font(400, 14, 23);
    letter-spacing: 0.04em;
    color: $secondary-text-color;
    margin-bottom: 48px;

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      @include font(400, 14, 27);
    }
  }
  &__btn {
    font-family: 'Montserrat', sans-serif;
    @include font(600, 14, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-text-color;
    width: 164px;
    min-height: 42px;
    background-color: $primary-yellow;
    border-radius: 10px;
    padding: 12px, 17px, 12px, 34px;
    cursor: pointer;
    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: $secondary-text-color;
    }
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }

  &__btn-more {
    margin-left: 9px;
  }
}
