.customer-reviews {
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 320px) {
    padding-top: 80px;
    padding-bottom: 394px;
    background-image: url("../images/customer-reviews/reviews-bg-mobile-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-mobile-2x.png");
    }
  }
  @media screen and (min-width: 321px) and (max-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 384px;
    background-image: url("../images/customer-reviews/reviews-bg-tablet-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-tablet-2x.png");
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-desktop-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-desktop-2x.png");
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 452px;
    padding-bottom: 207px;
    background-image: url("../images/customer-reviews/reviews-bg-1920px-1x.png");
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/customer-reviews/reviews-bg-1920px-2x.png");
    }
  }
}
.swiper-wrapper {
  @media screen and (max-width: $tablet) {
  }
}

.swiper .customer-reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @media screen and (max-width: $tablet) {
    max-width: 305px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 705px;
    margin-bottom: 22px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 968px;
    margin-bottom: 22px;
  }
}

.customer-reviews__img {
  max-width: 85px;
  border-radius: 50%;
}

.swiper .customer-reviews__text {
  text-align: center;
  color: $secondary-text-color;
  background-color: $bg-color;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  @media screen and (max-width: $tablet) {
    @include font(400, 13, 31);
    max-width: 280px;
    padding: 34px 39px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    @include font(400, 14, 26);
    letter-spacing: 0.04em;
    max-width: 705px;
    padding: 28px 80px;
  }
  @media screen and (min-width: $desktop) {
    @include font(400, 17, 30);
    letter-spacing: 0.04em;
    max-width: 968px;
    padding: 39px 74px;
  }
}

.swiper .customer-reviews__text-item {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: capitalize;
  color: $primary-text-color;
  margin-bottom: 30px;
  @media screen and (max-width: $tablet) {
    @include font(500, 20, 37);
  }

  @media screen and (min-width: $tablet) {
    @include font(500, 16, 30);
    margin-bottom: 32px;
  }
}

/* // Slider */

.swiper-pagination {
  @media screen and (max-width: $tablet) {
    margin-top: 14px;
  }
  @media screen and (min-width: $tablet) {
  }
}

.swiper .swiper-pagination-bullet {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $bg-color;
}
