.footer {
  background-color: $bg-color;

  &__text {
    font-family: 'Montserrat';
    @include font(700, 18px, 22px);
    text-transform: uppercase;
    color: $secondary-text-color;

    margin-bottom: 16px;
  }
  &__title {
    font-family: 'Montserrat';
    @include font(700, 34px, 41px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondary-text-color;

    margin-bottom: 42px;
  }
}

.footer-list {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 38px;

  &__item:not(:last-child) {
    margin-right: 28px;
  }

  &__link {
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $bg-color;
    align-items: center;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-contact {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 40px;

  font-family: 'Montserrat';
  @include font(700, 12px, 22px);

  &__text {
    color: $primary-text-color;
    margin-right: 2px;
  }

  &__tel {
    color: $secondary-text-color;
    text-decoration: none;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 16px 20px 62px;
  border-top: 1px solid #e1e1e1;

  &__wrapper {
    width: 150px;
    text-align: center;
    justify-content: center;
  }

  &__text {
    font-family: 'Montserrat';
    @include font(700, 14px, 21px);

    color: $accent-line-color;
  }
}

//? ================== TABLET VERSION ==================

@media screen and (min-width: $tablet) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer__text {
    width: 352px;
    @include font(700, 26px, 32px);
    letter-spacing: 0.04em;

    margin-bottom: 9px;
  }

  .footer__title {
    width: 340px;
    margin-bottom: 32px;

    @include font(700, 48px, 59px);
    letter-spacing: 0.06em;
  }

  .footer-list {
    margin-bottom: 32px;

    &__icon {
      width: 34px;
      height: 34px;
    }
  }

  .footer-contact {
    margin-bottom: 56px;

    @include font(700, 14px, 26px);
  }

  .copyright {
    padding: 14px 0px;

    &__wrapper {
      width: 100%;
    }
  }
}

//? ================== DESKTOP VERSION ==================

@media screen and (min-width: $desktop) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer__text {
    width: 100%;
    @include font(400, 30px, 37px);
    letter-spacing: 0.04em;

    margin-bottom: 14px;
  }

  .footer__title {
    width: 100%;
    margin-bottom: 54px;

    @include font(700, 58px, 71px);
    letter-spacing: 0.06em;
  }

  .footer-list {
    margin-bottom: 40px;
  }

  .footer-contact {
    margin-bottom: 60px;

    @include font(700, 16px, 30px);
  }

  .copyright {
    padding: 12px;

    &__text {
      @include font(700, 12px, 22px);
      letter-spacing: 0.02em;
    }
  }
}
