.galery__container {
  @include mq(mob-only) {
    margin-top: -24px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(tab) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include mq(desk) {
    transform: translate(-50%, -94px);
  }
}
.gallery__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 279px;
  height: 131px;
  overflow: hidden;
  padding: 0;
  border-radius: 7.41px;
  @include mq(tab) {
    position: relative;
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }
  @include mq(desk) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}
.gallery__slider {
  display: flex;
  width: 1395px;
  height: 131px;
  clear: both;
  position: relative;
  @include mq(tab) {
    width: 3520px;
    height: 327px;
  }
  @include mq(desk) {
    width: 5065px;
    height: 422px;
  }
  animation: sliderAnimateMobile 50s infinite ease-in-out;
  @include mq(tab) {
    animation: sliderAnimateTablet 50s infinite ease-in-out;
  }
  @include mq(desk) {
    animation: sliderAnimateDesktop 50s infinite ease-in-out;
  }
}
.gallery__picture {
  display: flex;
  flex-basis: 20%;
  position: relative;
  float: left;
}
.gallery__img {
  flex-basis: 100%;
}
@keyframes sliderAnimateMobile {
  0% {
    left: 0;
  }
  8% {
    left: 0;
  }
  12% {
    left: -279px;
  }
  20% {
    left: -279px;
  }
  24% {
    left: -558px;
  }
  32% {
    left: -558px;
  }
  36% {
    left: -837px;
  }
  44% {
    left: -837px;
  }
  48% {
    left: -1116px;
  }
  56% {
    left: -1116px;
  }
  60% {
    left: -837px;
  }
  68% {
    left: -837px;
  }
  72% {
    left: -558px;
  }
  80% {
    left: -558px;
  }
  84% {
    left: -279px;
  }
  92% {
    left: -279px;
  }
  96% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes sliderAnimateTablet {
  0% {
    left: 0;
  }
  8% {
    left: 0;
  }
  12% {
    left: -704px;
  }
  20% {
    left: -704px;
  }
  24% {
    left: -1408px;
  }
  32% {
    left: -1408px;
  }
  36% {
    left: -2112px;
  }
  44% {
    left: -2112px;
  }
  48% {
    left: -2816px;
  }
  56% {
    left: -2816px;
  }
  60% {
    left: -2112px;
  }
  68% {
    left: -2112px;
  }
  72% {
    left: -1408px;
  }
  80% {
    left: -1408px;
  }
  84% {
    left: -704px;
  }
  92% {
    left: -704px;
  }
  96% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes sliderAnimateDesktop {
  0% {
    left: 0;
  }
  8% {
    left: 0;
  }
  12% {
    left: -1013px;
  }
  20% {
    left: -1013px;
  }
  24% {
    left: -2026px;
  }
  32% {
    left: -2026px;
  }
  36% {
    left: -3039px;
  }
  44% {
    left: -3039px;
  }
  48% {
    left: -4052px;
  }
  56% {
    left: -4052px;
  }
  60% {
    left: -3039px;
  }
  68% {
    left: -3039px;
  }
  72% {
    left: -2026px;
  }
  80% {
    left: -2026px;
  }
  84% {
    left: -2026px;
  }
  92% {
    left: -1013px;
  }
  96% {
    left: -1013px;
  }
  100% {
    left: 0;
  }
}
