.gallery {
  background-image: linear-gradient(
    to bottom,
    $bg-color 19%,
    $bg-color 19%,
    $bg-color-gray 19%,
    $bg-color-gray 100%
  );
  @include mq(tab) {
    background-image: linear-gradient(
      to bottom,
      $bg-color 50%,
      $bg-color 50%,
      $bg-color-gray 50%,
      $bg-color-gray 100%
    );
  }
  @include mq(desk) {
    background-image: linear-gradient(
      to bottom,
      $bg-color 22.3%,
      $bg-color 22.3%,
      transparent 22.3%,
      transparent 100%
    );
  }
}

.gallery__wrapper {
  width: 279px;
  height: 131px;
  overflow: hidden;
  padding: 0;
  border-radius: 7.41px;
  @include mq(tab) {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }
  @include mq(desk) {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}
.gallery__slider {
  display: flex;
  width: 1395px;
  height: 171px;
  clear: both;
  position: relative;
  @include mq(tab) {
    width: 3520px;
    height: 327px;
  }
  @include mq(desk) {
    width: 5065px;
    height: 422px;
  }
  animation: sliderAnimateMobile 100s infinite ease;
  @include mq(tab) {
    animation: sliderAnimateTablet 100s infinite ease;
  }
  @include mq(desk) {
    animation: sliderAnimateDesktop 100s infinite ease;
  }
}
.gallery__picture {
  display: flex;
  flex-basis: 20%;
  position: relative;
  float: left;
}
.gallery__img {
  flex-basis: calc(100% + 0px);
}
@keyframes sliderAnimateMobile {
  0% {
    left: 0;
  }
  10% {
    left: -279px;
  }
  20% {
    left: -558px;
  }
  30% {
    left: -837px;
  }
  40% {
    left: -1116px;
  }
  50% {
    left: -1116px;
  }
  60% {
    left: -1116px;
  }
  70% {
    left: -837px;
  }
  80% {
    left: -558px;
  }
  90% {
    left: -279px;
  }
  100% {
    left: 0;
  }
}

@keyframes sliderAnimateTablet {
  0% {
    left: 0;
  }
  10% {
    left: -704px;
  }
  20% {
    left: -1408px;
  }
  30% {
    left: -2112px;
  }
  40% {
    left: -2816px;
  }
  50% {
    left: -2816px;
  }
  60% {
    left: -2816px;
  }
  70% {
    left: -2112px;
  }
  80% {
    left: -1408px;
  }
  90% {
    left: -704px;
  }
  100% {
    left: 0;
  }
}

@keyframes sliderAnimateDesktop {
  0% {
    left: 0;
  }
  10% {
    left: -1013px;
  }
  20% {
    left: -2026px;
  }
  30% {
    left: -3039px;
  }
  40% {
    left: -4052px;
  }
  50% {
    left: -4052px;
  }
  60% {
    left: -4052px;
  }
  70% {
    left: -3039px;
  }
  80% {
    left: -2026px;
  }
  90% {
    left: -1013px;
  }
  100% {
    left: 0;
  }
}
